<footer class="footer">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-info">
                <p>
                    Огромный выбор объявлений о продаже и аренде недвижимости в Красноярске, Сосновоборске, Дивногорске и других городах Красноярского края. На портале Сибдом. ру представлены разделы: квартиры, дома и коттеджи, земельные участки, дачи, гаражи, коммерческая недвижимость, квартиры посуточно, дома у моря.
                </p>
                <p>
                    Размещение рекламы: (391) 2-218-219, reklama@sibdom.ru
                </p>
            </div>
            <div class="footer-copyright">
                <div class="footer-counters">
                    <img src="" alt="" width="88" height="31">
                    <img src="" alt="" width="88" height="31">
                    <img src="" alt="" width="88" height="31">
                </div>
                <p>
                    © ООО «Сибдом», 2001—2017
                </p>
            </div>
        </div>
    </div>
</footer>

<div class="modal-bg"></div>
@@include('footer-blank.html')