@@include('header-blank.html')
<header class="header">
    <div class="header-container">
        <div class="header-row">
            <div class="header-logo">
                <img src="images/logo-test.png" alt="" width="190">
                <span class="header-description">
                    красноярская  недвижимость
                </span>
            </div>
            <div class="header-logo-m">krasmetr.ru</div>
            <div class="header-links">
                <a href="" class="header-link header-link-compare">Список сравнения — 5</a>
                <a href="" class="header-link header-link-favorites">Избранное — <span>5</span></a>
            </div>
            <div class="header-ad">
                <a href="" class="header-ad-link">Подать объявление</a>
            </div>
            <div class="header-trigger"></div>
        </div>
    </div> 
</header>

<nav class="header-nav">
    <ul class="header-nav-list">
        <li class="header-nav-item active"><a href="" class="header-nav-link">Квартиры — 45 200</a></li>
        <li class="header-nav-item"><a href="" class="header-nav-link">Коттеджи, дома, дачи — 14 200</a></li>
        <li class="header-nav-item"><a href="" class="header-nav-link">Земля — 375</a></li>
        <li class="header-nav-item"><a href="" class="header-nav-link">Полезные статьи</a></li>
    </ul>
</nav>