// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

=idm-button-variant($color, $background)
  color: $color
  background-color: $background
  //border-color: $border
  border: none
  position: relative

  +transition-property(top box-shadow background-color)
  +transition-duration($link-transition-duration * .5)

  background: none

  &:after
    background: $background


  &:hover,
  &:focus
    color: $brand-white
    outline: none

    &:after
      background-color: $brand-orange

  &:active,
  &:hover:active,
  &.active,
  .open > &.dropdown-toggle
    color: $brand-white

    &:after
      background-color: $brand-black

  &:active,
  &.active,
  .open > &.dropdown-toggle
    background-image: none
    outline: none

  &.disabled,
  &[disabled],
  fieldset[disabled] &
    &,
    &:hover,
    &:focus,
    &:active,
    &.active
      color: $brand-gray-light

      &:after
        background-color: $brand-gray

  .badge
    color: $background
    background-color: $color


// Button sizes
=button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius)
  padding: $padding-vertical $padding-horizontal ($padding-vertical - 2px)
  font-size: $font-size
  line-height: $line-height
  border-radius: $border-radius
