// Placeholder text
@mixin placeholder($color: $input-color-placeholder)
  &::-moz-placeholder
    color: $color
    opacity: 1
  &:-ms-input-placeholder
    color: $color
  &::-webkit-input-placeholder
    color: $color
