=link-variant($color: $link-color, $hover-color: $link-hover-color, $underline: $link-color, $hover-underline: $link-hover-color)
  color: $color
  border-bottom: 1px solid $underline
  text-decoration: none
  +transition(border-bottom-color .1s)

  &:hover
    border-bottom-color: $hover-underline

=link-default()
  +link-variant($link-color, $link-hover-color, $link-underline, $link-hover-underline)

=link-black()
  +link-variant(#000, $link-hover-color, rgba(#000, .8), $link-hover-underline)

=link-white()
  +link-variant(#fff, #fff, fade-out(#fff, .8), #fff)