=title-link($root: '', $color: $link-color, $hover-color: $link-hover-color, $underline: $link-color, $hover-underline: $link-hover-color)
  display: inline
  color: $color
  border-bottom: 1px solid $underline
  text-decoration: none
  text-transform: uppercase

  #{unquote($root)}:hover &
    color: $hover-color
    border-bottom-color: $hover-color