/*!
 * Bootstrap-select v1.12.3 (http://silviomoreto.github.io/bootstrap-select)
 *
 * Copyright 2013-2017 bootstrap-select
 * Licensed under MIT (https://github.com/silviomoreto/bootstrap-select/blob/master/LICENSE)

select
  &.bs-select-hidden, &.selectpicker
    display: none !important

.bootstrap-select
  width: 220px \0
  /*IE9 and below
  >
  .dropdown-toggle
    width: 100%
    padding-right: 25px
    z-index: 1
    &.bs-placeholder
      color: #999
      &:hover, &:focus, &:active
        color: #999
    select
      position: absolute !important
      bottom: 0
      left: 50%
      display: block !important
      width: 0.5px !important
      height: 100% !important
      padding: 0 !important
      opacity: 0 !important
      border: none
      &.mobile-device
        top: 0
        left: 0
        display: block !important
        width: 100% !important
        z-index: 2

.has-error .bootstrap-select .dropdown-toggle, .error .bootstrap-select .dropdown-toggle
  border-color: #b94a48

.bootstrap-select
  &.fit-width
    width: auto !important
  &:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
    width: 220px
  &.form-control
    margin-bottom: 0
    padding: 0
    border: none
    &:not([class*="col-"])
      width: 100%
    &.input-group-btn
      z-index: auto
      &:not(:first-child):not(:last-child) > .btn
        border-radius: 0
  &.btn-group
    &:not(.input-group-btn), &[class*="col-"]
      float: none
      display: inline-block
      margin-left: 0
    &.dropdown-menu-right, &[class*="col-"].dropdown-menu-right
      float: right

.row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right
  float: right

.form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group
  margin-bottom: 0

.form-group-lg .bootstrap-select.btn-group.form-control, .form-group-sm .bootstrap-select.btn-group.form-control
  padding: 0

.form-group-lg .bootstrap-select.btn-group.form-control .dropdown-toggle, .form-group-sm .bootstrap-select.btn-group.form-control .dropdown-toggle
  height: 100%
  font-size: inherit
  line-height: inherit
  border-radius: inherit

.form-inline .bootstrap-select.btn-group .form-control
  width: 100%

.bootstrap-select
  &.btn-group
    &.disabled
      cursor: not-allowed
      &:focus
        outline: none !important
    > .disabled
      cursor: not-allowed
    > .disabled:focus
      outline: none !important
    &.bs-container
      position: absolute
      height: 0 !important
      padding: 0 !important
      .dropdown-menu
        z-index: 1060
    .dropdown-toggle
      .filter-option
        display: inline-block
        overflow: hidden
        width: 100%
        text-align: left
      .caret
        position: absolute
        top: 50%
        right: 12px
        margin-top: -2px
        vertical-align: middle
    &[class*="col-"] .dropdown-toggle
      width: 100%
    .dropdown-menu
      min-width: 100%
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      &.inner
        position: static
        float: none
        border: 0
        padding: 0
        margin: 0
        border-radius: 0
        -webkit-box-shadow: none
        box-shadow: none
      li
        position: relative
        &.active small
          color: #fff
        &.disabled a
          cursor: not-allowed
        a
          cursor: pointer
          -webkit-user-select: none
          -moz-user-select: none
          -ms-user-select: none
          user-select: none
          &.opt
            position: relative
            padding-left: 2.25em
          span
            &.check-mark
              display: none
            &.text
              display: inline-block
        small
          padding-left: 0.5em
      .notify
        position: absolute
        bottom: 5px
        width: 96%
        margin: 0 2%
        min-height: 26px
        padding: 3px 5px
        background: #f5f5f5
        border: 1px solid #e3e3e3
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
        pointer-events: none
        opacity: 0.9
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
    .no-results
      padding: 3px
      background: #f5f5f5
      margin: 0 5px
      white-space: nowrap
    &.fit-width .dropdown-toggle
      .filter-option
        position: static
      .caret
        position: static
        top: auto
        margin-top: -1px
    &.show-tick .dropdown-menu li
      &.selected a span.check-mark
        position: absolute
        display: inline-block
        right: 15px
        margin-top: 5px
      a span.text
        margin-right: 34px
  &.show-menu-arrow
    &.open > .dropdown-toggle
      z-index: 1061
    .dropdown-toggle
      &:before
        content: ''
        border-left: 7px solid transparent
        border-right: 7px solid transparent
        border-bottom: 7px solid rgba(204, 204, 204, 0.2)
        position: absolute
        bottom: -4px
        left: 9px
        display: none
      &:after
        content: ''
        border-left: 6px solid transparent
        border-right: 6px solid transparent
        border-bottom: 6px solid white
        position: absolute
        bottom: -4px
        left: 10px
        display: none
    &.dropup .dropdown-toggle
      &:before
        bottom: auto
        top: -3px
        border-top: 7px solid rgba(204, 204, 204, 0.2)
        border-bottom: 0
      &:after
        bottom: auto
        top: -3px
        border-top: 6px solid white
        border-bottom: 0
    &.pull-right .dropdown-toggle
      &:before
        right: 12px
        left: auto
      &:after
        right: 13px
        left: auto
    &.open > .dropdown-toggle
      &:before, &:after
        display: block

.bs-searchbox, .bs-actionsbox, .bs-donebutton
  padding: 4px 8px

.bs-actionsbox
  width: 100%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  .btn-group button
    width: 50%

.bs-donebutton
  float: left
  width: 100%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  .btn-group button
    width: 100%

.bs-searchbox
  + .bs-actionsbox
    padding: 0 8px 4px
  .form-control
    margin-bottom: 0
    width: 100%
    float: none
