@font-face
  font-family: 'Sibdomico'
  src: url('../fonts/fontawesome/Sibdomico.eot?tjoj7n')
  src: url('../fonts/fontawesome/Sibdomico.eot?tjoj7n#iefix') format("embedded-opentype"), url('../fonts/fontawesome/Sibdomico.ttf?tjoj7n') format("truetype"), url('../fonts/fontawesome/Sibdomico.woff?tjoj7n') format("woff"), url('../fonts/fontawesome/Sibdomico.svg?tjoj7n#Sibdomico') format("svg")
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts
  font-family: 'Sibdomico' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering ===========
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-apartment-layout-otl:before
  content: "\e948"

.icon-apps:before
  content: "\e93e"

.icon-arrow-bottom:before
  content: "\e900"

.icon-arrow-bottom-otl:before
  content: "\e901"

.icon-arrow-left:before
  content: "\e902"

.icon-arrow-left-otl:before
  content: "\e903"

.icon-arrow-right:before
  content: "\e904"

.icon-arrow-right-otl:before
  content: "\e905"

.icon-arrow-top:before
  content: "\e906"

.icon-arrow-top-otl:before
  content: "\e907"

.icon-bell:before
  content: "\e908"

.icon-bell-otl:before
  content: "\e909"

.icon-building-phase-00:before
  content: "\e92d"

.icon-building-phase-01:before
  content: "\e92e"

.icon-building-phase-02:before
  content: "\e92f"

.icon-building-phase-03:before
  content: "\e930"

.icon-building-phase-04:before
  content: "\e931"

.icon-building-phase-05:before
  content: "\e932"

.icon-building-phase-06:before
  content: "\e933"

.icon-building-phase-07:before
  content: "\e934"

.icon-building-phase-08:before
  content: "\e935"

.icon-building-phase-09:before
  content: "\e936"

.icon-building-phase-10:before
  content: "\e937"

.icon-building-phase-11:before
  content: "\e938"

.icon-building-phase-12:before
  content: "\e939"

.icon-car:before
  content: "\e90a"

.icon-car-otl:before
  content: "\e90b"

.icon-check:before
  content: "\e94b"

.icon-check-otl:before
  content: "\e94c"

.icon-close:before
  content: "\e90c"

.icon-close-otl:before
  content: "\e90d"

.icon-comments:before
  content: "\e90e"

.icon-comments-big:before
  content: "\e90f"

.icon-comments-big-otl:before
  content: "\e910"

.icon-comments-otl:before
  content: "\e911"

.icon-complain:before
  content: "\e912"

.icon-complain-otl:before
  content: "\e913"

.icon-download:before
  content: "\e93f"

.icon-fullscreen:before
  content: "\e940"

.icon-fullscreen-exit:before
  content: "\e941"

.icon-heart:before
  content: "\e949"

.icon-heart-otl:before
  content: "\e94a"

.icon-key:before
  content: "\e93b"

.icon-key-old:before
  content: "\e947"

.icon-list:before
  content: "\e914"

.icon-list-otl:before
  content: "\e915"

.icon-location:before
  content: "\e916"

.icon-location-otl:before
  content: "\e917"

.icon-lock-otl:before
  content: "\e93a"

.icon-menu-trigger:before
  content: "\e918"

.icon-menu-trigger-otl:before
  content: "\e919"

.icon-note-otl:before
  content: "\e94d"

.icon-pause:before
  content: "\e942"

.icon-phone:before
  content: "\e91a"

.icon-phone-otl:before
  content: "\e91b"

.icon-photo:before
  content: "\e93c"

.icon-photo-otl:before
  content: "\e93d"

.icon-play:before
  content: "\e943"

.icon-print:before
  content: "\e91c"

.icon-print-otl:before
  content: "\e91d"

.icon-promotion:before
  content: "\e91e"

.icon-promotion-otl:before
  content: "\e91f"

.icon-search:before
  content: "\e920"

.icon-search-otl:before
  content: "\e921"

.icon-settings:before
  content: "\e922"

.icon-settings-otl:before
  content: "\e923"

.icon-share:before
  content: "\e924"

.icon-share-otl:before
  content: "\e925"

.icon-social-facebook:before
  content: "\e926"

.icon-social-ok:before
  content: "\e927"

.icon-social-vk:before
  content: "\e928"

.icon-stack:before
  content: "\e944"

.icon-star:before
  content: "\e929"

.icon-star-otl:before
  content: "\e92a"

.icon-view:before
  content: "\e92b"

.icon-view-otl:before
  content: "\e92c"

.icon-zoom-in:before
  content: "\e945"

.icon-zoom-out:before
  content: "\e946"