@@include('templates/base/header-template.html')

<div class="breadcrumbs">
    <div class="breadcrumbs-container">
        <ul class="breadcrumbs-list">
            <li class="breadcrumbs-item"><a href="" class="breadcrumbs-link">Главная</a></li>
            <li class="breadcrumbs-item">Избранное и список сравнения</li>
        </ul>
    </div>
</div>

<div class="page">
    <div class="page-container">
        <div class="page-title">
            <h1>Готовые квартиры в Красноярске</h1>
            <a href="">Сменить город</a>
        </div>

        <div class="page-row">
            <div class="page-content">
                <div class="product-filter">
                    <ul class="product-filter-list">
                        <li class="product-filter-item active"><a href="" class="product-filter-link">список</a></li>
                        <li class="product-filter-item"><a href="" class="product-filter-link">карта</a></li>
                    </ul>
                    <div class="product-filter-sort">
                        <select class="selectpicker" data-width="200">
                            <option>сначала дешевле</option>
                            <option>сначала дороже</option>
                        </select>
                    </div>

                    <div class="filter-link-m"><a>Фильтр</a></div>
                </div>
            </div>
        </div>


        <div class="page-row">
            <div class="page-content">

                <div class="products products-list">
                    <div class="product active">
                        <div class="product-img">
                            <a href="">
                                <span class="tag tag-red">XOT</span>
                                <img src="pictures/catalog.png" alt="" width="263" height="197">
                            </a>
                        </div>
                        <div class="product-content">
                            <div class="product-text">
                                <a href="" class="product-title">2-комн., Годенко, 2 дом, стр 1, 3 этап</a>
                                <p>Красноярск, Октябрьский район</p>
                                <p>56.7 м²,  панель</p>
                            </div>
                            <div class="product-info">
                                <div class="product-price">2 400 000 ₽</div>
                                <p>54 321 руб./м²</p>
                                <p>ипотека</p>
                            </div>
                        </div>

                        <div class="product-options">
                            <a href="" class="product-options-list"></a>
                            <a href="" class="product-options-favorite"></a>
                        </div>
                    </div>
                    <div class="product active">
                        <div class="product-img">
                            <a href="">
                                <span class="tag tag-red">XOT</span>
                                <img src="pictures/catalog.png" alt="" width="263" height="197">
                            </a>
                        </div>
                        <div class="product-content">
                            <div class="product-text">
                                <a href="" class="product-title">2-комн., Годенко, 2 дом, стр 1, 3 этап</a>
                                <p>Красноярск, Октябрьский район</p>
                                <p>56.7 м²,  панель</p>
                            </div>
                            <div class="product-info">
                                <div class="product-price">2 400 000 ₽</div>
                                <p>54 321 руб./м²</p>
                                <p>ипотека</p>
                            </div>
                        </div>

                        <div class="product-options">
                            <a href="" class="product-options-list"></a>
                            <a href="" class="product-options-favorite"></a>
                        </div>
                    </div>
                    <div class="product active">
                        <div class="product-img">
                            <a href="">
                                <span class="tag tag-green">Спец</span>
                                <img src="pictures/catalog.png" alt="" width="263" height="197">
                            </a>
                        </div>
                        <div class="product-content">
                            <div class="product-text">
                                <a href="" class="product-title">2-комн., Годенко, 2 дом, стр 1, 3 этап</a>
                                <p>Красноярск, Октябрьский район</p>
                                <p>56.7 м²,  панель</p>
                            </div>
                            <div class="product-info">
                                <div class="product-price">2 400 000 ₽</div>
                                <p>54 321 руб./м²</p>
                                <p>ипотека</p>
                            </div>
                        </div>

                        <div class="product-options">
                            <a href="" class="product-options-list"></a>
                            <a href="" class="product-options-favorite"></a>
                        </div>
                    </div>
                    <div class="product active">
                        <div class="product-img">
                            <a href="">
                                <span class="tag tag-green">Спец</span>
                                <img src="pictures/catalog.png" alt="" width="263" height="197">
                            </a>
                        </div>
                        <div class="product-content">
                            <div class="product-text">
                                <a href="" class="product-title">2-комн., Годенко, 2 дом, стр 1, 3 этап</a>
                                <p>Красноярск, Октябрьский район</p>
                                <p>56.7 м²,  панель</p>
                            </div>
                            <div class="product-info">
                                <div class="product-price">2 400 000 ₽</div>
                                <p>54 321 руб./м²</p>
                                <p>ипотека</p>
                            </div>
                        </div>

                        <div class="product-options">
                            <a href="" class="product-options-list"></a>
                            <a href="" class="product-options-favorite"></a>
                        </div>
                    </div>
                </div>
                
                <ul class="pagination">
                    <li class="pagination-item"><a href="" class="pagination-link">Назад</a></li>
                    <li class="pagination-item"><a href="" class="pagination-link">2</a></li>
                    <li class="pagination-item active"><a href="" class="pagination-link">3</a></li>
                    <li class="pagination-item"><a href="" class="pagination-link">4</a></li>
                    <li class="pagination-item"><a href="" class="pagination-link">...</a></li>
                    <li class="pagination-item"><a href="" class="pagination-link">Следующая</a></li>
                </ul>
            </div>
            <aside class="page-sidebar">

                <div class="catalog-filter">
                    <div class="catalog-filter-block">
                        <div class="catalog-filter-block-item">
                            <div class="catalog-filter-block-title">Быстрый фильтр</div>
                            <div class="catalog-filter-content">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span>1-комн. до 1 млн</span>
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span>2-комн. до 2 млн</span>
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span>Для семьи с детьми</span>
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span>От собственника</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-filter-block">
                        <div class="catalog-filter-block-item">
                            <div class="catalog-filter-content">
                                <div class="catalog-filter-item">
                                    <p>Количество комнат</p>
                                    <div class="catalog-filter-rooms">
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            <span>1</span>
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            <span>2</span>
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            <span>3</span>
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            <span>4</span>
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            <span>5+</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="catalog-filter-item">
                                    <p>Стоимость 0,5—4,5 млн</p>
                                    <div class="catalog-filter-slider" id="catalog-filter-slider-1"></div>
                                </div>
                                <div class="catalog-filter-item">
                                    <div class="catalog-filter-show-button">
                                        <a href="">Показать 23435</a>
                                    </div>
                                    <div class="catalog-filter-item-title -gray">Площадь, м²</div>
                                    <p>Общая от 20 м²</p>
                                    <div class="catalog-filter-slider" id="catalog-filter-slider-2"></div>
                                </div>
                                <div class="catalog-filter-item">
                                    <p>Кухня не важна</p>
                                    <div class="catalog-filter-slider" id="catalog-filter-slider-3"></div>
                                </div>
                                <div class="catalog-filter-item catalog-filter-region">
                                    <select class="selectpicker" data-width="100%" multiple title="Район и подрайон">
                                        <option>Октябрьский</option>
                                        <option>Свердловский</option>
                                        <option>Центральный</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="catalog-filter-block-item">
                            <div class="catalog-filter-block-title">Больше параметров</div>
                            <div class="catalog-filter-content">
                                <div class="catalog-filter-item">
                                    <select class="selectpicker" data-width="100%">
                                        <option>Любой год постройки</option>
                                        <option>сначала дороже</option>
                                    </select>
                                </div>
                                <div class="catalog-filter-item">
                                    <p>Этаж от 3 и выше</p>
                                    <div class="catalog-filter-slider" id="catalog-filter-slider-4"></div>
                                </div>
                                <div class="catalog-filter-item">
                                    <div class="catalog-filter-item-title -gray">Материал стен</div>
                                    <label class="checkbox">
                                        <input type="checkbox">
                                        <span>Кирпич</span>
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox">
                                        <span>Панель</span>
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox">
                                        <span>Монолитно-кирпичный</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="catalog-filter-footer">
                            <a href="" class="catalog-filter-show-link">Показать 23435</a>
                        </div>
                    </div>
                </div>

                <div class="page-sidebar-content">
                    <h2>
                        Новостройки  Железнодорожного района  на Sibdom.ru
                    </h2>
                    <div class="buildings">
                        <div class="building">
                            <div class="building-img">
                                <a href=""><img src="pictures/catalog.png" alt="" width="263" height="197"></a>
                            </div>
                            <div class="building-content">
                                <a href="" class="building-title">АКВАРЕЛЬ ж/к</a>
                                <p>
                                    ЛАДЬЯ ПЛЮС ∙ 1кв 2019,
                                    готовность 20%
                                </p>
                            </div>
                        </div>
                        <div class="building">
                            <div class="building-img">
                                <a href=""><img src="pictures/catalog.png" alt="" width="263" height="197"></a>
                            </div>
                            <div class="building-content">
                                <a href="" class="building-title">АКВАРЕЛЬ ж/к</a>
                                <p>
                                    ЛАДЬЯ ПЛЮС ∙ 1кв 2019,
                                    готовность 20%
                                </p>
                            </div>
                        </div>
                        <div class="building">
                            <div class="building-img">
                                <a href=""><img src="pictures/catalog.png" alt="" width="263" height="197"></a>
                            </div>
                            <div class="building-content">
                                <a href="" class="building-title">АКВАРЕЛЬ ж/к</a>
                                <p>
                                    ЛАДЬЯ ПЛЮС ∙ 1кв 2019,
                                    готовность 20%
                                </p>
                            </div>
                        </div>

                        <div class="buildings-link-more">
                            <a href="">Все новостройки</a>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>


<div class="b-advice">
    <div class="b-advice-container">
        <h2>Полезные советы по покупке и продаже недвижимости</h2>

        <div class="b-advice-slider">
            <div class="advice-slider">
                <div>
                    <a href="" class="advice-item"><span>Как оформить договор  купли-продажи квартиры</span></a>
                </div>
                <div>
                    <a href="" class="advice-item"><span>Как быстро проверить квартиру перед сделкой?</span></a>
                </div>
                <div>
                    <a href="" class="advice-item"><span>Как правильно выполнить перепланировку?</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="b-news">
    <div class="b-news-container">
        <div class="b-news-head">
            <h2><a href="">Новости строительства и недвижимости на сайте Sibdom.ru</a></h2>
        </div>
        <div class="news">
            <div class="news-item">
                <div class="news-img"><a href=""><img src="pictures/catalog.png" alt="" width="204" height="151"></a></div>
                <div class="news-title">
                    <a href="">Список новостроек с ипотекой под 8,4 процента расширился</a>
                </div>
                <div class="news-view">234</div>
            </div>
            <div class="news-item">
                <div class="news-img"><a href=""><img src="pictures/catalog.png" alt="" width="204" height="151"></a></div>
                <div class="news-title">
                    <a href="">Пешеходный бульвар свяжет два корпуса СФУ</a>
                </div>
                <div class="news-view">234</div>
            </div>
            <div class="news-item">
                <div class="news-img"><a href=""><img src="pictures/catalog.png" alt="" width="204" height="151"></a></div>
                <div class="news-title">
                    <a href="">На ремонт Коммунального моста потратят почти 400 млн рублей</a>
                </div>
                <div class="news-view">234</div>
            </div>
            <div class="news-item">
                <div class="news-img"><a href=""><img src="pictures/catalog.png" alt="" width="204" height="151"></a></div>
                <div class="news-title">
                    <a href="">В первом квартале 2017 года средняя цена квадратного метра в Красноярске...</a>
                </div>
                <div class="news-view">234</div>
            </div>
            <div class="news-item">
                <div class="news-img"><a href=""><img src="pictures/catalog.png" alt="" width="204" height="151"></a></div>
                <div class="news-title">
                    <a href="">«АСГРУПП»: «Нам интересны нестандартные объекты»</a>
                </div>
                <div class="news-view">234</div>
            </div>
        </div>
    </div>
</div>
@@include('templates/base/footer-template.html')