@@include('templates/base/header-template.html')

<div id="app"></div>
<script src="/js/app.js"></script>


<section class="page">
    <div class="page-container">

        <br>
        <br>
        <h1 class="columns medium-12">HTML/CSS pages</h1>
        <ul class="columns medium-12">
            <li><a href="main.html">main.html</a></li>
            <li><a href="catalog.html">catalog.html</a></li>
            <li><a href="favorites.html">favorites.html</a></li>
            <li><a href="textpage.html">textpage.html</a></li>
            <li><a href="map.html">map.html</a></li>
            <li><a href="object.html">object.html</a></li>
        </ul>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
</section>

@@include('templates/base/footer-template.html')