@@include('templates/base/header-template.html')

<div class="main-about">
    <div class="main-about-container">
        <h1>
            Готовые квартиры и дома  <br>Красноярского края
        </h1>
        <div class="main-about-row">
            <div class="main-about-col">
                <h2>Квартиры</h2>
                <ul class="main-about-list">
                    <li class="main-about-item"><a href="" class="main-about-link">Красноярск — 15269</a></li>
                    <li class="main-about-item"><a href="" class="main-about-link">Сосновоборск — 203</a></li>
                    <li class="main-about-item"><a href="" class="main-about-link">Емельяново — 31</a></li>
                </ul>
                <a href="" class="main-about-more">Другие города</a>
            </div>
            <div class="main-about-col">
                <h2>Коттеджи, дома, дачи</h2>
                <ul class="main-about-list">
                    <li class="main-about-item"><a href="" class="main-about-link">Красноярск — 15269</a></li>
                    <li class="main-about-item"><a href="" class="main-about-link">Сосновоборск — 203</a></li>
                    <li class="main-about-item"><a href="" class="main-about-link">Емельяново — 31</a></li>
                </ul>
                <a href="" class="main-about-more">Другие города</a>
            </div>
            <div class="main-about-col">
                <h2>Земля</h2>
                <ul class="main-about-list">
                    <li class="main-about-item"><a href="" class="main-about-link">Красноярск — 15269</a></li>
                    <li class="main-about-item"><a href="" class="main-about-link">Сосновоборск — 203</a></li>
                    <li class="main-about-item"><a href="" class="main-about-link">Емельяново — 31</a></li>
                </ul>
                <a href="" class="main-about-more">Другие города</a>
            </div>
        </div>
    </div>
</div>

<div class="b-products">
    <div class="b-products-container">
        <div class="b-products-head">
            <div class="b-products-title">
                <h2><a href="">Спецпредложения готовых квартир в Красноярске</a></h2>
                <a href="" class="b-products-location">сменить город</a>
            </div>
            <div class="b-products-more"><a href="">смотреть все</a></div>
        </div>

        <div class="products products-block">
            <div class="product">
                <div class="product-wrap">
                    <div class="product-img">
                        <a href=""><img src="pictures/product1.png" alt="" width="263" height="198"></a>
                    </div>
                    <div class="product-content">
                        <div class="product-title">
                            <a href="">1-комн., Вильского ул, д. 16г</a>
                        </div>
                        <div class="product-footer">
                            <span class="product-price">2 400 000 руб.</span>
                            <a class="product-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-wrap">
                    <div class="product-img">
                        <a href=""><img src="pictures/product1.png" alt="" width="263" height="198"></a>
                    </div>
                    <div class="product-content">
                        <div class="product-title">
                            <a href="">1-комн. (долевое),  ПЯТЬ+ ж/к, 3 дом</a>
                        </div>
                        <div class="product-footer">
                            <span class="product-price">1 408 000 руб.</span>
                            <a class="product-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-wrap">
                    <div class="product-img">
                        <a href=""><img src="pictures/product1.png" alt="" width="263" height="198"></a>
                    </div>
                    <div class="product-content">
                        <div class="product-title">
                            <a href="">Гостинка, Свободный пр-кт, д. 12</a>
                        </div>
                        <div class="product-footer">
                            <span class="product-price">865 000 руб.</span>
                            <a class="product-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-wrap">
                    <div class="product-img">
                        <a href=""><img src="pictures/product1.png" alt="" width="263" height="198"></a>
                    </div>
                    <div class="product-content">
                        <div class="product-title">
                            <a href="">3-комн. (долевое), Солнечный, 3 мкр, д. 25</a>
                        </div>
                        <div class="product-footer">
                            <span class="product-price">3 000 000 руб.</span>
                            <a class="product-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="main-info">
    <div class="main-info-container">
        <div class="main-info-row">
            <div class="main-info-content">
                <h2>
                    Более 270 новостроек Красноярска на сайте Sibdom.ru
                </h2>
                <a href="" class="main-info-link">Смотреть</a>
            </div>
            <div class="main-info-img">
                <img src="pictures/main-photo-house.png" alt="" width="478" style="margin-top: -43px">
            </div>
        </div>
    </div>
</div>

<div class="main-slider">
    <div class="main-slider-container">
        <div class="main-slider-slick">
            <div>
                <div class="main-slider-slide">
                    <div class="main-slider-img">
                        <img src="pictures/main-slider-1.png" alt="">
                    </div>
                    <div class="main-slider-content">
                        <h2>Как купить квартиру  <br>в Красноярске</h2>
                        <p>
                            Все возможности приобретения квартиры и советы  по законодательству.
                        </p>
                        <p>
                            <a href="" class="main-slider-more">Читать</a>
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="main-slider-slide">
                    <div class="main-slider-img">
                        <img src="pictures/main-slider-1.png" alt="">
                    </div>
                    <div class="main-slider-content">
                        <h2>Как купить квартиру  <br>в Красноярске</h2>
                        <p>
                            Все возможности приобретения квартиры и советы  по законодательству.
                        </p>
                        <p>
                            <a href="" class="main-slider-more">Читать</a>
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="main-slider-slide">
                    <div class="main-slider-img">
                        <img src="pictures/main-slider-1.png" alt="">
                    </div>
                    <div class="main-slider-content">
                        <h2>Как купить квартиру <br> в Красноярске</h2>
                        <p>
                            Все возможности приобретения квартиры и советы  по законодательству.
                        </p>
                        <p>
                            <a href="" class="main-slider-more">Читать</a>
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="main-slider-slide">
                    <div class="main-slider-img">
                        <img src="pictures/main-slider-1.png" alt="">
                    </div>
                    <div class="main-slider-content">
                        <h2>Как купить квартиру <br> в Красноярске</h2>
                        <p>
                            Все возможности приобретения квартиры и советы  по законодательству.
                        </p>
                        <p>
                            <a href="" class="main-slider-more">Читать</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="b-products">
    <div class="b-products-container">
        <div class="b-products-head">
            <div class="b-products-title">
                <h2><a href="">Коттеджи, дома и дачи в Красноярске и окрестностях</a></h2>
                <a href="" class="b-products-location">сменить город</a>
            </div>
            <div class="b-products-more"><a href="">смотреть все</a></div>
        </div>

        <div class="products products-block">
            <div class="product">
                <div class="product-wrap">
                    <div class="product-img">
                        <a href=""><img src="pictures/product1.png" alt="" width="263" height="198"></a>
                    </div>
                    <div class="product-content">
                        <div class="product-title">
                            <a href="">1-комн., Вильского ул, д. 16г</a>
                        </div>
                        <div class="product-footer">
                            <span class="product-price">2 400 000 руб.</span>
                            <a class="product-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-wrap">
                    <div class="product-img">
                        <a href=""><img src="pictures/product1.png" alt="" width="263" height="198"></a>
                    </div>
                    <div class="product-content">
                        <div class="product-title">
                            <a href="">1-комн. (долевое),  ПЯТЬ+ ж/к, 3 дом</a>
                        </div>
                        <div class="product-footer">
                            <span class="product-price">1 408 000 руб.</span>
                            <a class="product-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-wrap">
                    <div class="product-img">
                        <a href=""><img src="pictures/product1.png" alt="" width="263" height="198"></a>
                    </div>
                    <div class="product-content">
                        <div class="product-title">
                            <a href="">Гостинка, Свободный пр-кт, д. 12</a>
                        </div>
                        <div class="product-footer">
                            <span class="product-price">865 000 руб.</span>
                            <a class="product-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-wrap">
                    <div class="product-img">
                        <a href=""><img src="pictures/product1.png" alt="" width="263" height="198"></a>
                    </div>
                    <div class="product-content">
                        <div class="product-title">
                            <a href="">3-комн. (долевое), Солнечный, 3 мкр, д. 25</a>
                        </div>
                        <div class="product-footer">
                            <span class="product-price">3 000 000 руб.</span>
                            <a class="product-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-banner">
    <div class="main-banner-container">
        <img src="pictures/banner.png" alt="" width="1140" height="140">
    </div>
</div>


<div class="b-products">
    <div class="b-products-container">
        <div class="b-products-head">
            <div class="b-products-title">
                <h2><a href="">Продажа земли в Красноярске и окрестностях</a></h2>
                <a href="" class="b-products-location">сменить город</a>
            </div>
            <div class="b-products-more"><a href="">смотреть все</a></div>
        </div>

        <div class="products products-block">
            <div class="product">
                <div class="product-wrap">
                    <div class="product-img">
                        <a href=""><img src="pictures/product1.png" alt="" width="263" height="198"></a>
                    </div>
                    <div class="product-content">
                        <div class="product-title">
                            <a href="">1-комн., Вильского ул, д. 16г</a>
                        </div>
                        <div class="product-footer">
                            <span class="product-price">2 400 000 руб.</span>
                            <a class="product-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-wrap">
                    <div class="product-img">
                        <a href=""><img src="pictures/product1.png" alt="" width="263" height="198"></a>
                    </div>
                    <div class="product-content">
                        <div class="product-title">
                            <a href="">1-комн. (долевое),  ПЯТЬ+ ж/к, 3 дом</a>
                        </div>
                        <div class="product-footer">
                            <span class="product-price">1 408 000 руб.</span>
                            <a class="product-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-wrap">
                    <div class="product-img">
                        <a href=""><img src="pictures/product1.png" alt="" width="263" height="198"></a>
                    </div>
                    <div class="product-content">
                        <div class="product-title">
                            <a href="">Гостинка, Свободный пр-кт, д. 12</a>
                        </div>
                        <div class="product-footer">
                            <span class="product-price">865 000 руб.</span>
                            <a class="product-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-wrap">
                    <div class="product-img">
                        <a href=""><img src="pictures/product1.png" alt="" width="263" height="198"></a>
                    </div>
                    <div class="product-content">
                        <div class="product-title">
                            <a href="">3-комн. (долевое), Солнечный, 3 мкр, д. 25</a>
                        </div>
                        <div class="product-footer">
                            <span class="product-price">3 000 000 руб.</span>
                            <a class="product-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="b-news">
    <div class="b-news-container">
        <div class="b-news-head">
            <h2><a href="">Новости строительства и недвижимости на сайте Sibdom.ru</a></h2>
        </div>
        <div class="news">
            <div class="news-item">
                <div class="news-img"><a href=""><img src="pictures/product1.png" alt="" width="204" height="151"></a></div>
                <div class="news-title">
                    <a href="">Список новостроек с ипотекой под 8,4 процента расширился</a>
                </div>
                <div class="news-view">234</div>
            </div>
            <div class="news-item">
                <div class="news-img"><a href=""><img src="pictures/product1.png" alt="" width="204" height="151"></a></div>
                <div class="news-title">
                    <a href="">Пешеходный бульвар свяжет два корпуса СФУ</a>
                </div>
                <div class="news-view">234</div>
            </div>
            <div class="news-item">
                <div class="news-img"><a href=""><img src="pictures/product1.png" alt="" width="204" height="151"></a></div>
                <div class="news-title">
                    <a href="">На ремонт Коммунального моста потратят почти 400 млн рублей</a>
                </div>
                <div class="news-view">234</div>
            </div>
            <div class="news-item">
                <div class="news-img"><a href=""><img src="pictures/product1.png" alt="" width="204" height="151"></a></div>
                <div class="news-title">
                    <a href="">В первом квартале 2017 года средняя цена квадратного метра в Красноярске...</a>
                </div>
                <div class="news-view">234</div>
            </div>
            <div class="news-item">
                <div class="news-img"><a href=""><img src="pictures/product1.png" alt="" width="204" height="151"></a></div>
                <div class="news-title">
                    <a href="">«АСГРУПП»: «Нам интересны нестандартные объекты»</a>
                </div>
                <div class="news-view">234</div>
            </div>
        </div>
    </div>
</div>

@@include('templates/base/footer-template.html')