@@include('templates/base/header-template.html')

<div class="breadcrumbs">
    <div class="breadcrumbs-container">
        <ul class="breadcrumbs-list">
            <li class="breadcrumbs-item"><a href="" class="breadcrumbs-link">Главная</a></li>
            <li class="breadcrumbs-item"><a href="" class="breadcrumbs-link">Квартиры</a></li>
            <li class="breadcrumbs-item"><span class="hidden-xs">Объявление</span> № 232456</li>
        </ul>
    </div>
</div>

<div class="page">
    <div class="page-container">
        <div class="page-title">
            <h1>Готовые квартиры в Красноярске</h1>
            <a href="" class="page-title-location">сменить город</a>
        </div>

        <ul class="map-nav">
            <li class="map-nav-item"><a href="" class="map-nav-link">список</a></li>
            <li class="map-nav-item active"><a href="" class="map-nav-link">карта</a></li>
        </ul>
        <div class="map">
            <img src="pictures/contact-map.png" alt="" height="800">

            <div class="map-item">
                <div class="map-item-icon"></div>
                <div class="map-item-content">
                    <a href="" class="map-object">
                        <img src="pictures/map-object.png" alt="" width="80">
                        <span class="map-object-content">
                            1-комн.,<br>  Вильского ул, д. 16г
                            <span>2 400 000</span>
                        </span>
                    </a>
                    <a href="" class="map-object">
                        <img src="pictures/map-object.png" alt="" width="80">
                        <span class="map-object-content">
                            1-комн.,<br>  Вильского ул, д. 16г
                            <span>2 400 000</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="map-filter">
                <div class="catalog-filter">
                    <div class="catalog-filter-block">
                        <div class="catalog-filter-block-title">Быстрый фильтр</div>
                        <div class="catalog-filter-content">
                            <label class="checkbox">
                                <input type="checkbox">
                                <span>1-комн. до 1 млн</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span>2-комн. до 2 млн</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span>Для семьи с детьми</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox">
                                <span>От собственника</span>
                            </label>
                        </div>
                    </div>
                    <div class="catalog-filter-block">
                        <div class="catalog-filter-content">
                            <div class="catalog-filter-item">
                                <p>Количество комнат</p>
                                <div class="catalog-filter-rooms">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                        <span>1</span>
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox">
                                        <span>2</span>
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox">
                                        <span>3</span>
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox">
                                        <span>4</span>
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox">
                                        <span>5+</span>
                                    </label>
                                </div>
                            </div>
                            <div class="catalog-filter-item">
                                <p>Стоимость 0,5—4,5 млн</p>
                                <div class="catalog-filter-slider" id="catalog-filter-slider-1"></div>
                            </div>
                            <div class="catalog-filter-item">
                                <div class="catalog-filter-item-title -gray">Площадь, м²</div>
                                <p>Общая от 20 м²</p>
                                <div class="catalog-filter-slider" id="catalog-filter-slider-2"></div>
                            </div>
                            <div class="catalog-filter-item">
                                <p>Кухня не важна</p>
                                <div class="catalog-filter-slider" id="catalog-filter-slider-3"></div>
                            </div>
                            <div class="catalog-filter-item">
                                <a href="" class="catalog-filter-region-link">Район и подрайон</a>
                            </div>
                        </div>


                        <div class="catalog-filter-footer">
                            <a href="" class="catalog-filter-show-link">Показать 23435</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="b-advice">
    <div class="b-advice-container">
        <h2>Полезные советы по покупке и продаже недвижимости</h2>

        <div class="b-advice-slider">
            <div class="advice-slider">
                <div>
                    <a href="" class="advice-item"><span>Как оформить договор  купли-продажи квартиры</span></a>
                </div>
                <div>
                    <a href="" class="advice-item"><span>Как быстро проверить квартиру перед сделкой?</span></a>
                </div>
                <div>
                    <a href="" class="advice-item"><span>Как правильно выполнить перепланировку?</span></a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="b-news">
    <div class="b-news-container">
        <div class="b-news-head">
            <h2><a href="">Новости строительства и недвижимости на сайте Sibdom.ru</a></h2>
        </div>
        <div class="news">
            <div class="news-item">
                <div class="news-img"><a href=""><img src="pictures/no-img.jpg" alt="" width="204" height="151"></a></div>
                <div class="news-title">
                    <a href="">Список новостроек с ипотекой под 8,4 процента расширился</a>
                </div>
                <div class="news-view">234</div>
            </div>
            <div class="news-item">
                <div class="news-img"><a href=""><img src="pictures/no-img.jpg" alt="" width="204" height="151"></a></div>
                <div class="news-title">
                    <a href="">Пешеходный бульвар свяжет два корпуса СФУ</a>
                </div>
                <div class="news-view">234</div>
            </div>
            <div class="news-item">
                <div class="news-img"><a href=""><img src="pictures/no-img.jpg" alt="" width="204" height="151"></a></div>
                <div class="news-title">
                    <a href="">На ремонт Коммунального моста потратят почти 400 млн рублей</a>
                </div>
                <div class="news-view">234</div>
            </div>
            <div class="news-item">
                <div class="news-img"><a href=""><img src="pictures/no-img.jpg" alt="" width="204" height="151"></a></div>
                <div class="news-title">
                    <a href="">В первом квартале 2017 года средняя цена квадратного метра в Красноярске...</a>
                </div>
                <div class="news-view">234</div>
            </div>
            <div class="news-item">
                <div class="news-img"><a href=""><img src="pictures/no-img.jpg" alt="" width="204" height="151"></a></div>
                <div class="news-title">
                    <a href="">«АСГРУПП»: «Нам интересны нестандартные объекты»</a>
                </div>
                <div class="news-view">234</div>
            </div>
        </div>
    </div>
</div>


@@include('templates/base/footer-template.html')