@@include('templates/base/header-template.html')

<div class="breadcrumbs">
    <div class="breadcrumbs-container">
        <ul class="breadcrumbs-list">
            <li class="breadcrumbs-item"><a href="" class="breadcrumbs-link">Главная</a></li>
            <li class="breadcrumbs-item"><a href="" class="breadcrumbs-link">Квартиры</a></li>
            <li class="breadcrumbs-item"><span class="hidden-xs">Объявление</span> № 232456</li>
        </ul>
    </div>
</div>

<div class="page">
    <div class="page-container">
        <div class="page-title">
            <h1>Продам 2-комн., 50.7 кв.м., СЛАВЯНСКИЙ ж/к, 5 дом, стр 1</h1>
        </div>

        <div class="object-info">
            <div class="object-info-price">3 320 000 ₽</div>
            65 483 руб. за м²
            <a href="">Предложите свою цену</a>
        </div>

        <div class="page-row">
            <div class="page-content">
                <div class="object-options">
                    <a href="" class="object-options-credit">Рассчитать ипотеку</a>
                    <div class="object-options-links">
                        <a href="" class="object-options-link object-options-link-print">Распечатать</a>
                        <a href="" class="object-options-link object-options-link-compare">В сравнение</a>
                        <a href="" class="object-options-link object-options-link-favorites">В избранное</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-row">
            <div class="page-content">
                <div class="object-gallery">
                    <div class="object-gallery-slider">
                        <div>
                            <img src="pictures/object.png" alt="">
                        </div>
                        <div>
                            <img src="pictures/object.png" alt="">
                        </div>
                        <div>
                            <img src="pictures/object.png" alt="">
                        </div>
                        <div>
                            <img src="pictures/object.png" alt="">
                        </div>
                        <div>
                            <img src="pictures/object.png" alt="">
                        </div>
                        <div>
                            <img src="pictures/object.png" alt="">
                        </div>
                        <div>
                            <img src="pictures/object.png" alt="">
                        </div>
                        <div>
                            <img src="pictures/object.png" alt="">
                        </div>
                    </div>
                    <div class="object-gallery-nav">
                        <div>
                            <img src="pictures/object-nav.png" alt="">
                        </div>
                        <div>
                            <img src="pictures/object-nav.png" alt="">
                        </div>
                        <div>
                            <img src="pictures/object-nav.png" alt="">
                        </div>
                        <div>
                            <img src="pictures/object-nav.png" alt="">
                        </div>
                        <div>
                            <img src="pictures/object-nav.png" alt="">
                        </div>
                        <div>
                            <img src="pictures/object-nav.png" alt="">
                        </div>
                        <div>
                            <img src="pictures/object-nav.png" alt="">
                        </div>
                        <div>
                            <img src="pictures/object-nav.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="object-content">
                    <div class="object-about">
                        <div class="object-about-apartment">
                            <h2>Квартира</h2>
                            <p>Общая площадь — 50,7 м²</p>
                            <p>Жилая площадь — 33,8 м²</p>
                            <p>Кухня — 10,0 м²</p>
                            <p>Планировка — новая</p>
                            <p>Санузел — совмещенный</p>
                            <p>Балкон — есть</p>
                            <p>Тип собственности — договор долевого участия</p>
                        </div>
                        <div class="object-about-house">
                            <h2>Дом</h2>
                            <p>Новостройка — СЛАВЯНСКИЙ ж/к, 5 дом, стр 1</p>
                            <p>Адрес — Куйбышева ул, 79, Железнодорожный район, Красноярск</p>
                            <p>Этаж — 8 / 16</p>
                            <p>Материал — Монолит-кирпич</p>
                            <p>Срок сдачи — Сдан</p>
                        </div>
                        <div class="object-about-content">
                            ЖК «Славянский» рядом с центром. Новый 17-этажный монолитно-кирпичный дом образует единый ансамбль с другими домами жилого комплекса, но при этом имеет свой особенный стиль: геометрия благородных серых оттенков эффектно сочетается с облицовочным кирпичом. Фасад дома негорючий! Отделка лифтового холла выполнена по индивидуальному дизайн-проекту, в подъезде керамогранит и фактурная штукатурка, бесшумные лифты.
                        </div>
                    </div>

                    <div class="object-map">
                        <img src="pictures/map.png" alt="">
                    </div>
                </div>
            </div>
            <aside class="page-sidebar">

                <div class="object-dev">
                    <div class="object-dev-logo">
                        <img src="pictures/object-dev.png" alt="" width="121">
                    </div>
                    <div class="object-dev-title">Енисейлесстрой-Инвест</div>
                    <p><a href="" class="object-dev-show-phone">Показать телефон</a></p>
                    <p><a href="" class="object-dev-question">Задать вопрос</a></p>
                </div>

                <div class="page-sidebar-content hidden-xs">
                    <h2>
                        Новостройки  Железнодорожного района  на Sibdom.ru
                    </h2>
                    <div class="buildings">
                        <div class="building">
                            <div class="building-img">
                                <a href=""><img src="pictures/no-img.jpg" alt="" width="263" height="197"></a>
                            </div>
                            <div class="building-content">
                                <a href="" class="building-title">АКВАРЕЛЬ ж/к</a>
                                <p>
                                    ЛАДЬЯ ПЛЮС ∙ 1кв 2019,
                                    готовность 20%
                                </p>
                            </div>
                        </div>
                        <div class="building">
                            <div class="building-img">
                                <a href=""><img src="pictures/no-img.jpg" alt="" width="263" height="197"></a>
                            </div>
                            <div class="building-content">
                                <a href="" class="building-title">АКВАРЕЛЬ ж/к</a>
                                <p>
                                    ЛАДЬЯ ПЛЮС ∙ 1кв 2019,
                                    готовность 20%
                                </p>
                            </div>
                        </div>
                        <div class="building">
                            <div class="building-img">
                                <a href=""><img src="pictures/no-img.jpg" alt="" width="263" height="197"></a>
                            </div>
                            <div class="building-content">
                                <a href="" class="building-title">АКВАРЕЛЬ ж/к</a>
                                <p>
                                    ЛАДЬЯ ПЛЮС ∙ 1кв 2019,
                                    готовность 20%
                                </p>
                            </div>
                        </div>

                        <div class="buildings-link-more">
                            <a href="">Все новостройки</a>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>

<div class="b-calculator">
    <div class="b-calculator-container">
        <h2>Купить квартиру в ипотеку</h2>
        <div class="calculator">
            <h3>Ипотечный калькулятор</h3>
            <div class="calculator-row">
                <div class="calculator-options">
                    <div class="calculator-options-item">
                        <div class="calculator-options-title">Стоимость недвижимости</div>
                        <div class="calculator-options-content">
                            <div class="calculator-options-value calculator-options-value-1">2 700 000</div>
                            <div class="calculator-options-slider" id="calculator-options-1"></div>
                        </div>
                    </div>
                    <div class="calculator-options-item">
                        <div class="calculator-options-title">Первоначальный взнос</div>
                        <div class="calculator-options-content">
                            <div class="calculator-options-value calculator-options-value-2">250 000</div>
                            <div class="calculator-options-slider" id="calculator-options-2"></div>
                        </div>
                    </div>
                    <div class="calculator-options-item">
                        <div class="calculator-options-title">Срок кредитования</div>
                        <div class="calculator-options-content">
                            <div class="calculator-options-value calculator-options-value-3">10 лет</div>
                            <div class="calculator-options-slider" id="calculator-options-3"></div>
                        </div>
                    </div>
                    <div class="calculator-options-item">
                        <div class="calculator-options-title">Процентная ставка</div>
                        <div class="calculator-options-content">
                            <div class="calculator-options-value calculator-options-value-4">12%</div>
                            <div class="calculator-options-slider" id="calculator-options-4"></div>
                        </div>
                    </div>
                </div>
                <div class="calculator-price">
                    <div class="calculator-price-content">
                        <div class="calculator-price-total">
                            Ежемесячный платеж
                            <span>35 150 ₽</span>
                        </div>
                        <div class="calculator-price-items">
                            <div class="calculator-price-item">
                                <span>Общая выплата</span>
                                <b>4 218 000</b>
                            </div>
                            <div class="calculator-price-item">
                                <span>Сумма переплаты</span>
                                <b>1 768 046</b>
                            </div>
                        </div>
                    </div>
                    <div class="calculator-price-footer">
                        <span>
                            Получите конкретные предложения от семи банков-партнеров
                        </span>
                        <a href="" class="calculator-price-application">Отправить заявку</a>
                    </div>
                </div>
            </div>
            <div class="calculator-footer">
                Расчет является ориентировачным и не является публичной офертой. При расчете не учитываются возможные дополнительные платежи, как, например, комиссия банка, страхование объекта недвижимости и жизни и здоровья заемщика и т.п.
            </div>
        </div>
    </div>
</div>


<div class="main-banner">
    <div class="main-banner-container">
        <img src="pictures/banner.png" alt="" width="1140" height="140">
    </div>
</div>


<div class="b-advice">
    <div class="b-advice-container">
        <h2>Полезные советы по покупке и продаже недвижимости</h2>

        <div class="b-advice-slider">
            <div class="advice-slider">
                <div>
                    <a href="" class="advice-item"><span>Как оформить договор  купли-продажи квартиры</span></a>
                </div>
                <div>
                    <a href="" class="advice-item"><span>Как быстро проверить квартиру перед сделкой?</span></a>
                </div>
                <div>
                    <a href="" class="advice-item"><span>Как правильно выполнить перепланировку?</span></a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="b-products">
    <div class="b-products-container">
        <div class="b-products-head">
            <div class="b-products-title">
                <h2>Объявления в этом же доме <a href="" class="b-products-title-link">в этом районе</a><a href="" class="b-products-title-link">похожие по цене</a></h2>
            </div>
        </div>

        <div class="products products-block">
            <div class="product">
                <div class="product-wrap">
                    <div class="product-img">
                        <a href=""><img src="pictures/no-img.jpg" alt="" width="263" height="198"></a>
                    </div>
                    <div class="product-content">
                        <div class="product-title">
                            <a href="">1-комн., Вильского ул, д. 16г</a>
                        </div>
                        <div class="product-footer">
                            <span class="product-price">2 400 000 руб.</span>
                            <a class="product-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-wrap">
                    <div class="product-img">
                        <a href=""><img src="pictures/no-img.jpg" alt="" width="263" height="198"></a>
                    </div>
                    <div class="product-content">
                        <div class="product-title">
                            <a href="">1-комн. (долевое),  ПЯТЬ+ ж/к, 3 дом</a>
                        </div>
                        <div class="product-footer">
                            <span class="product-price">1 408 000 руб.</span>
                            <a class="product-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-wrap">
                    <div class="product-img">
                        <a href=""><img src="pictures/no-img.jpg" alt="" width="263" height="198"></a>
                    </div>
                    <div class="product-content">
                        <div class="product-title">
                            <a href="">Гостинка, Свободный пр-кт, д. 12</a>
                        </div>
                        <div class="product-footer">
                            <span class="product-price">865 000 руб.</span>
                            <a class="product-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-wrap">
                    <div class="product-img">
                        <a href=""><img src="pictures/no-img.jpg" alt="" width="263" height="198"></a>
                    </div>
                    <div class="product-content">
                        <div class="product-title">
                            <a href="">3-комн. (долевое), Солнечный, 3 мкр, д. 25</a>
                        </div>
                        <div class="product-footer">
                            <span class="product-price">3 000 000 руб.</span>
                            <a class="product-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@@include('templates/base/footer-template.html')