@@include('templates/base/header-template.html')

<div class="breadcrumbs">
    <div class="breadcrumbs-container">
        <ul class="breadcrumbs-list">
            <li class="breadcrumbs-item"><a href="" class="breadcrumbs-link">Главная</a></li>
            <li class="breadcrumbs-item"><a href="" class="breadcrumbs-link">Полезные статьи</a></li>
        </ul>
    </div>
</div>

<div class="page">
    <div class="page-container">
        <div class="page-title">
            <h1>В строительной компании «Союз» ввели внешнее наблюдение</h1>
        </div>

        <div class="page-row">
            <div class="page-content">
                <div class="page-text">
                    <p>
                        Арбитражный суд Красноярского края ввел процедуру внешнего наблюдения в строительной компании «Союз». Следующее заседание суда состоится в конце августа. Если к этому моменту долг не будет погашен, компанию могут признать банкротом.
                    </p>
                    <p>
                        О том, что компания «КрасТЭК» подала на банкротство застройщика, стало известно еще в конце прошлого года. Управляющая компания «Союз» (входит в структуру ЗАО ПСК «Союз») за 2014—2015 годы задолжала сетевой компании за обеспечение теплом домов района Ботанического 68 миллионов рублей. Сейчас сумма долга составляет 31,2 миллиона рублей. В конце прошлого года на рабочей группе в горсовете Красноярска представители «Союза» говорили о том, что они вносят текущие платежи и готовы постепенно гасить долг. Речь шла о том, что у строительной компании есть перспективы получения денежных средств, которыми застройщик собирается закрыть задолженность перед поставщиками тепла.
                    </p>
                    <p>
                        Одновременно с этим у строительной компании «Союз» возникли проблемы с вводом в эксплуатацию нового дома на бульваре Ботанический, 20: объект не подключили к теплу.
                    </p>

                    <h2>Длинный заголовок H2</h2>

                    <p>
                        В прошлом году завершилось действие программы «Ипотека с господдержкой», по которой государство компенсировало банкам часть ставки по кредиту, благодаря чему для конечных заемщиков ставка оказывалась ниже на несколько процентов. Теперь ей предложена замена.
                        На рынке появились совместные продукты банков и строительных компаний, где ставку субсидирует уже не государство, а застройщик и банк. «Принято решение о внедрении ипотеки с субсидированной процентной ставкой. По такой программе клиенту на весь срок кредитования.
                    </p>

                    <h3>Длинный заголовок H3</h3>

                    <p>
                        В прошлом году завершилось действие программы «Ипотека с господдержкой», по которой государство компенсировало банкам часть ставки по кредиту, благодаря чему для конечных заемщиков ставка оказывалась ниже на несколько процентов. Теперь ей предложена замена.
                        На рынке появились совместные продукты банков и строительных компаний, где ставку субсидирует уже не государство, а застройщик и банк. «Принято решение о внедрении ипотеки с субсидированной процентной ставкой. По такой программе клиенту на весь срок кредитования.
                    </p>
                    
                    <p style="margin-bottom: 8px;"><a href="">Обычная ссылка</a></p>
                    <p style="margin-bottom: 8px;"><a href="">Ссылка при ховере</a></p>
                    <p><a href="">Ссылка посещённая</a></p>

                    <ul>
                        <li>линолеум «Таркет» с плинтусами;</li>
                        <li>виниловые обои под покраску;</li>
                        <li>ровные потолки;</li>
                        <li>полный комплект сантехники (включая счетчики);</li>
                        <li>окна ПВХ, алюминиевое остекление балконов</li>
                    </ul>

                    <table>
                        <tr>
                            <td>Площадь</td>
                            <td>50.7 м²</td>
                            <td>38.7 м²</td>
                        </tr>
                        <tr>
                            <td>Этаж</td>
                            <td>8 / 16</td>
                            <td>7 / 17</td>
                        </tr>
                        <tr>
                            <td>Тип дома</td>
                            <td>Монолит-кирпич</td>
                            <td>Панель</td>
                        </tr>
                        <tr>
                            <td>Планировка</td>
                            <td>Новая</td>
                            <td>Новая</td>
                        </tr>
                        <tr>
                            <td>Санузел</td>
                            <td>Совмещенный</td>
                            <td>Раздельный</td>
                        </tr>
                    </table>
               </div>
            </div>
            <aside class="page-sidebar">
                <div class="page-sidebar-content">
                    <h2>
                        Новостройки  Железнодорожного района  на Sibdom.ru
                    </h2>
                    <div class="buildings">
                        <div class="building">
                            <div class="building-img">
                                <a href=""><img src="pictures/no-img.jpg" alt="" width="263" height="197"></a>
                            </div>
                            <div class="building-content">
                                <a href="" class="building-title">АКВАРЕЛЬ ж/к</a>
                                <p>
                                    ЛАДЬЯ ПЛЮС ∙ 1кв 2019,
                                    готовность 20%
                                </p>
                            </div>
                        </div>
                        <div class="building">
                            <div class="building-img">
                                <a href=""><img src="pictures/no-img.jpg" alt="" width="263" height="197"></a>
                            </div>
                            <div class="building-content">
                                <a href="" class="building-title">АКВАРЕЛЬ ж/к</a>
                                <p>
                                    ЛАДЬЯ ПЛЮС ∙ 1кв 2019,
                                    готовность 20%
                                </p>
                            </div>
                        </div>
                        <div class="building">
                            <div class="building-img">
                                <a href=""><img src="pictures/no-img.jpg" alt="" width="263" height="197"></a>
                            </div>
                            <div class="building-content">
                                <a href="" class="building-title">АКВАРЕЛЬ ж/к</a>
                                <p>
                                    ЛАДЬЯ ПЛЮС ∙ 1кв 2019,
                                    готовность 20%
                                </p>
                            </div>
                        </div>

                        <div class="buildings-link-more">
                            <a href="">Все новостройки</a>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>


<div class="b-advice">
    <div class="b-advice-container">
        <h2>Полезные советы по покупке и продаже недвижимости</h2>

        <div class="b-advice-slider">
            <div class="advice-slider">
                <div>
                    <a href="" class="advice-item"><span>Как оформить договор  купли-продажи квартиры</span></a>
                </div>
                <div>
                    <a href="" class="advice-item"><span>Как быстро проверить квартиру перед сделкой?</span></a>
                </div>
                <div>
                    <a href="" class="advice-item"><span>Как правильно выполнить перепланировку?</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="b-news">
    <div class="b-news-container">
        <div class="b-news-head">
            <h2><a href="">Новости строительства и недвижимости на сайте Sibdom.ru</a></h2>
        </div>
        <div class="news">
            <div class="news-item">
                <div class="news-img"><a href=""><img src="pictures/no-img.jpg" alt="" width="204" height="151"></a></div>
                <div class="news-title">
                    <a href="">Список новостроек с ипотекой под 8,4 процента расширился</a>
                </div>
                <div class="news-view">234</div>
            </div>
            <div class="news-item">
                <div class="news-img"><a href=""><img src="pictures/no-img.jpg" alt="" width="204" height="151"></a></div>
                <div class="news-title">
                    <a href="">Пешеходный бульвар свяжет два корпуса СФУ</a>
                </div>
                <div class="news-view">234</div>
            </div>
            <div class="news-item">
                <div class="news-img"><a href=""><img src="pictures/no-img.jpg" alt="" width="204" height="151"></a></div>
                <div class="news-title">
                    <a href="">На ремонт Коммунального моста потратят почти 400 млн рублей</a>
                </div>
                <div class="news-view">234</div>
            </div>
            <div class="news-item">
                <div class="news-img"><a href=""><img src="pictures/no-img.jpg" alt="" width="204" height="151"></a></div>
                <div class="news-title">
                    <a href="">В первом квартале 2017 года средняя цена квадратного метра в Красноярске...</a>
                </div>
                <div class="news-view">234</div>
            </div>
            <div class="news-item">
                <div class="news-img"><a href=""><img src="pictures/no-img.jpg" alt="" width="204" height="151"></a></div>
                <div class="news-title">
                    <a href="">«АСГРУПП»: «Нам интересны нестандартные объекты»</a>
                </div>
                <div class="news-view">234</div>
            </div>
        </div>
    </div>
</div>
@@include('templates/base/footer-template.html')