.b-advice
  margin-top: 48px
  padding-top: 33px
  padding-bottom: 40px
  background: #666666

.b-advice-container
  @extend .container
  h2
    margin-bottom: 29px
    font-size: 24px
    color: #ffffff

.b-advice-slider
  margin-left: -15px
  margin-right: -15px

.advice-slider
  .slick-slide
    padding: 0 15px

.advice-item
  display: flex
  width: 100%
  height: 120px
  padding: 0 20px
  font-size: 18px
  font-weight: 600
  line-height: 1.2
  text-align: center
  align-items: center
  color: $theme-color-green
  background: #ffffff
  border-radius: 4px
  &:hover
    background: $theme-color-green
    color: #ffffff
