.b-news
  padding-top: 42px
  padding-bottom: 37px
  background: #ffffff
  +media(xs-max)
    padding-top: 30px
    padding-bottom: 30px

.b-news-container
  @extend .container
  +media(xs-max)
    padding: 0 30px

.b-news-head
  margin-bottom: 33px
  +media(xs-max)
    margin-bottom: 10px
  h2
    font-size: 18px
    font-weight: 600
  a
    color: $body-color
    border-bottom: 1px rgba(38, 38, 38, 0.25)


