.b-products
  margin-top: 49px
  margin-bottom: 56px
  +media(xs-max)
    margin-top: 25px

.b-products-container
  @extend .container

.b-products-head
  margin-bottom: 30px
  @extend .row
  @extend .justify-content-between

.b-products-title
  padding: 0 15px
  a
    color: $theme-color-green
    border-bottom: 1px solid rgba($theme-color-green, .25)
    &.b-products-location
      display: inline-block
      vertical-align: middle
      margin-left: 14px
      margin-bottom: 7px
      color: $text-color-gray
      border-bottom: 1px solid
      line-height: 1.2
      +media(sm-max)
        margin-top: 10px
        margin-left: 0
      +media(xs-max)
        display: none

  h2
    margin: 0
    font-size: 30px
    font-weight: 400
    display: inline-block
    +media(xs-max)
      font-size: 18px
      line-height: 1.3

.b-products-title-link
  margin-left: 21px
  &:hover
    color: #53bb57

.b-products-more
  @extend .align-self-end
  padding: 0 15px 5px
  +media(sm-max)
    width: 100%
    text-align: right
  +media(xs-max)
    display: none
  a
    color: $text-color-gray
    border-bottom: 1px solid rgba($text-color-gray, .25)