.breadcrumbs
  margin-top: 23px

.breadcrumbs-container
  @extend .container

.breadcrumbs-list
  margin: 0
  padding: 0
  list-style: none

.breadcrumbs-item
  margin-right: 5px
  display: inline-block
  color: #666666
  &:after
    margin-left: 12px
    content: "—"
    display: inline-block
    vertical-align: middle
  &:last-child
    margin-right: 0
    &:after
      display: none

.breadcrumbs-link
  color: #666666
  border-bottom: 1px solid rgba(153, 153, 153, 0.25)