.buildings
  +media(sm)
    display: flex
    flex-wrap: wrap
    padding: 0 10px

.building
  +media(sm)
    width: 50%
    padding: 0 10px

.building-content
  padding: 22px 15px 17px
  text-align: center
  line-height: 1.15
  p
    margin: 8px 0

.building-img
  img
    width: 100%
    height: auto

.building-title
  font-weight: 600
  color: $body-color

.buildings-link-more
  margin-top: 24px
  padding: 0 20px
  +media(sm)
    width: 100%
  a
    width: 100%
    padding-top: 11px
    padding-bottom: 13px
    display: inline-block
    background: $theme-color-green
    color: #ffffff
    border-radius: 3px
    line-height: 1
    text-align: center