.b-calculator
  margin-top: 48px
  +media(xs-max)
    margin-top: -15px
  h2
    font-size: 30px
    font-weight: 400
    color: #262626
    +media(xs-max)
      padding: 0 15px
      font-size: 24px
      text-align: center

.b-calculator-container
  @extend .container
  +media(xs-max)
    padding: 0

.calculator
  margin-top: 25px
  padding: 34px
  border: 3px solid $theme-color-green
  background: #ffffff
  +media(xs-max)
    padding: 25px 20px
  h3
    margin-bottom: 31px
    font-size: 24px
    font-weight: 600
    color: $theme-color-green
    +media(xs-max)
      font-size: 18px

.calculator-row
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.calculator-options
  width: 50%
  +media(sm-max)
    width: 100%

.calculator-price
  width: 47.5%
  background: #f2f2f2
  +media(sm-max)
    margin-top: 20px
    width: 100%

.calculator-options-item
  margin-bottom: 24px
  display: flex
  flex-wrap: wrap

.calculator-options-title
  width: 43%
  padding-right: 15px
  +media(xs-max)
    width: 100%
    padding-right: 0

.calculator-options-content
  width: 57%
  +media(xs-max)
    width: 100%

.calculator-options-value
  font-size: 16px
  font-weight: 600
  color: #262626

.calculator-options-slider
  margin-top: 12px
  width: 100%


.calculator-price-content
  padding: 26px 30px 17px
  display: flex
  flex-wrap: wrap
  border-bottom: 1px solid #d9d9d9
  +media(xs-max)
    padding-left: 24px
    padding-right: 24px

.calculator-price-total
  width: 50%
  +media(xs-max)
    width: 100%
  span
    display: block
    font-size: 48px
    line-height: 1.4
    font-weight: 600
    color: $theme-color-green
    +media(md-max)
      font-size: 35px

.calculator-price-items
  width: 50%
  text-align: right
  color: #666666
  +media(xs-max)
    margin-top: 15px
    width: 100%
    text-align: left
  span
    display: block

.calculator-price-item
  margin-bottom: 2px

.calculator-price-footer
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  padding: 30px
  font-size: 14px
  line-height: 1.2
  span
    width: 60%
    +media(md-max)
      width: 45%
    +media(xs-max)
      width: 100%
      margin-bottom: 10px

.calculator-price-application
  display: inline-block
  padding: 10px 19px
  color: #666666
  border: 1px solid #999999
  font-size: 16px
  border-radius: 3px
  background: #ffffff


.calculator-footer
  margin-top: 16px
  font-size: 12px
  line-height: 16px
  color: #999999