.footer
  padding: 40px 0
  background: #262626
  color: #ffffff

.footer-container
  @extend .container

.footer-row
  @extend .row

.footer-info
  @extend .col-sm-12
  @extend .col-md-8
  font-size: 14px
  line-height: 1.3

.footer-copyright
  @extend .col-sm-12
  @extend .col-md-4
  font-size: 14px

.footer-counters
  margin-bottom: 34px
  width: 280px
  max-width: 100%
  display: flex
  @extend .justify-content-between