.header-nav
  position: relative
  width: 100%
  +media(xs-max)
    display: none
    position: absolute
    z-index: 10
    background: #ffffff
  &:after
    position: absolute
    content: ""
    top: 100%
    left: 0
    right: 0
    height: 5px
    background: linear-gradient(to bottom, rgba(#000000, .15), transparent)

.header-nav-list
  margin: 0 auto
  padding: 0
  width: 1280px
  max-width: 100%
  list-style: none
  +clearfix

.header-nav-item
  float: left
  width: 25%
  padding: 6px 0 11px
  text-align: center
  border-left: 1px solid #d9d9d9
  &:last-child
    border-right: 1px solid #d9d9d9
  &:nth-child(2)
    width: 32%
    +media(xs-max)
      width: 100%
  &:nth-child(3)
    width: 20%
    +media(xs-max)
      width: 100%
  &:nth-child(4)
    width: 23%
    +media(xs-max)
      width: 100%

  &.active
    background: $theme-color-green
    .header-nav-link
      color: #ffffff

  +media(xs-max)
    width: 100%
    border: none

.header-nav-link
  font-size: 18px
  color: #262626
  +media(sm-max)
    font-size: 15px