.main-info
  margin-top: 56px
  height: 300px // delete
  background-color: #666666
  color: #ffffff
  +media(xs-max)
    height: auto
  h2
    font-size: 36px
    font-weight: 400
    line-height: 1.2
    color: #ffffff
    +media(xs-max)
      font-size: 24px
      line-height: 1.4

.main-info-container
  @extend .container

.main-info-row
  @extend .row

.main-info-content
  @extend .col-sm-12
  @extend .col-md-7
  padding-top: 64px
  +media(xs-max)
    padding: 30px

.main-info-link
  margin-top: 22px
  display: inline-block
  padding: 7px 42px
  border: 1px solid #999999
  color: #d9d9d9
  border-radius: 3px
  +media(xs-max)
    margin-top: 10px

.main-info-img
  @extend .col-5
  +media(xs-max)
    display: none