.main-about
  padding-top: 47px
  padding-bottom: 36px
  color: #ffffff
  background: url('../images/bg-main-about.jpg')
  h1
    text-align: center
    font-size: 48px
    line-height: 1.2
    font-weight: 400
    +media(xs-max)
      font-size: 24px
  h2
    font-size: 30px
    font-weight: 400
    color: #ffffff
    +media(xs-max)
      font-size: 20px
      color: #ffffff

.main-about-container
  @extend .container


.main-about-row
  @extend .row
  margin-top: 29px
  +media(xs-max)
    margin-top: 16px

.main-about-col
  @extend .col-sm-12
  @extend .col-md-4
  padding-left: 45px
  +media(xs-max)
    padding: 0 15px
    text-align: center

.main-about-list
  margin-top: 26px
  margin-bottom: 26px
  padding: 0
  list-style: none
  +media(xs-max)
    display: none

.main-about-item
  margin-bottom: 5px

.main-about-link
  font-size: 18px
  border-bottom: 1px solid rgba(#ffffff, .4)
  color: #ffffff
  &:hover
    color: #ffffff
    border-bottom: 1px solid #ffffff

.main-about-more
  font-size: 18px
  color: #ffffff
  border-bottom: 1px solid
  +media(xs-max)
    display: none