.map-nav
  list-style: none
  padding: 0
  +clearfix

.map-nav-item
  float: left
  margin-right: -1px
  &:first-child
    .map-nav-link
      border-top-left-radius: 3px
      border-bottom-left-radius: 3px
  &:last-child
    .map-nav-link
      border-top-right-radius: 3px
      border-bottom-right-radius: 3px
  &.active
    .map-nav-link
      background: #ffffff

.map-nav-link
  display: inline-block
  padding: 8px 20px
  border: 1px solid #d9d9d9
  color: #666666
  line-height: 1


.map
  position: relative
  margin-top: 25px
  overflow: hidden

  .catalog-filter-footer
    box-shadow: 0 -3px 4px 0 rgba(102, 102, 102, .25)
    border: none

.map-filter
  position: absolute
  top: 20px
  right: 20px

.map-item
  position: absolute
  top: 50%
  left: 50%

.map-item-icon
  width: 16px
  height: 16px
  background-color: #53bb57
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5)
  border: solid 1px #148a2a
  border-radius: 50%

.map-item-content
  position: absolute
  bottom: 100%
  left: 50%
  margin-left: -150px
  width: 300px
  margin-bottom: 15px
  &:before
    position: absolute
    content: ""
    top: 100%
    left: 50%
    margin-left: -10px
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-top: 10px solid rgba(#262626, .9)


.map-object
  display: block
  padding: 20px 16px
  background: rgba(#262626, .9)
  color: #ffffff
  border-bottom: 1px solid #666666
  &:hover
    background: #262626
    color: #ffffff
  &:last-child
    border: none
  img
    float: left
    margin-top: 5px
    margin-right: 16px


.map-object-content
  line-height: 20px
  span
    margin-top: 5px
    display: block
    font-weight: 600