.news
  @extend .row

.news-item
  @extend .col-2
  width: percentage(1/5)
  flex: 0 0 percentage(1/5)
  max-width: percentage(1/5)
  +media(sm-max)
    width: percentage(1/3)
    flex: 0 0 percentage(1/3)
    max-width: percentage(1/3)
  +media(xs-max)
    width: percentage(1/1)
    flex: 0 0 percentage(1/1)
    max-width: percentage(1/1)

.news-title
  margin-top: 16px
  height: 50px
  font-size: 14px
  font-weight: 500
  line-height: 1.2
  overflow: hidden
  text-overflow: ellipsis
  +media(xs-max)
    margin-top: 15px
    height: auto
    font-weight: 400
    overflow: inherit
    line-height: 18px
  a
    color: $body-color
    +media(xs-max)
      border-bottom: 1px solid
    &:hover
      color: $link-hover-color

.news-view
  margin-top: 10px
  font-size: 14px
  color: #999999
  +media(xs-max)
    display: none
  &:before
    margin-right: 4px
    display: inline-block
    vertical-align: middle
    font-family: $font-awesome
    @extend .icon-view
    font-size: 18px

.news-img
  +media(xs-max)
    display: none
  img
    width: 100%
    height: auto