.object-info
  margin-top: -29px
  margin-bottom: 11px
  +media(xs-max)
    margin-top: -15px
  a
    margin-left: 15px
    color: $theme-color-green
    border-bottom: 1px solid
    @media (max-width: 400px)
      margin-left: 0

.object-info-price
  margin-top: -2px
  margin-right: 11px
  display: inline-block
  vertical-align: middle
  font-size: 30px
  color: #262626
  +media(xs-max)
    font-size: 24px
    font-weight: 500

.object-options
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  +media(xs-max)
    margin-top: 15px
    display: block

.object-options-credit
  padding: 7px 24px
  display: inline-block
  color: #666666
  background: #ffffff
  border: 1px solid #999999
  border-radius: 3px

.object-options-links
  margin-top: 10px

.object-options-link
  position: relative
  margin-left: 51px
  color: #666666
  border-bottom: 1px solid
  +media(xs-max)
    margin-left: 0
    margin-right: 10px
    font-size: 0
    border: none
  &:before
    position: absolute
    top: -5px
    left: -30px
    font-size: 20px
    font-family: $font-awesome
    +media(xs-max)
      position: relative
      top: auto
      left: auto
      color: #999999
  &.object-options-link-favorites
    &:before
      @extend .icon-star
  &.object-options-link-compare
    &:before
      @extend .icon-list
  &.object-options-link-print
    &:before
      @extend .icon-print


.object-gallery-slider
  img
    max-width: 100%

.object-gallery-nav
  img
    max-width: 100%


.object-content
  background: #ffffff
  box-shadow: 0 3px 4px 0 rgba(102, 102, 102, 0.25)

.object-about
  display: flex
  flex-wrap: wrap
  padding: 28px 36px
  +media(xs-max)
    padding: 15px
  h2
    margin-bottom: 17px
    font-size: 18px
    font-weight: 600
    color: #262626
    +media(xs-max)
      margin-bottom: 10px
  p
    margin-bottom: 12px

.object-about-apartment
  width: 55%
  +media(xs-max)
    width: 100%
    margin-bottom: 15px
    p
      margin-bottom: 5px

.object-about-house
  width: 45%
  padding-left: 25px
  +media(xs-max)
    width: 100%
    padding: 0

.object-about-content
  margin-top: 28px
  width: 100%
  line-height: 1.2
  +media(xs-max)
    margin-top: 10px

.object-map
  width: 100%
  margin-top: 11px
  img
    width: 100%


.object-dev
  margin-bottom: 25px
  padding: 36px 20px 24px
  text-align: center
  background: #ffffff
  box-shadow: 0 3px 4px 0 rgba(102, 102, 102, 0.25)
  p
    &:last-child
      margin-bottom: 0

.object-dev-title
  margin-top: 12px
  margin-bottom: 33px
  font-size: 18px

.object-dev-show-phone
  width: 100%
  display: inline-block
  padding: 8px
  border-radius: 3px
  background: $theme-color-green
  color: #ffffff

.object-dev-question
  width: 100%
  display: inline-block
  padding: 7px
  border-radius: 3px
  color: #666666
  border: 1px solid #999999