.page
  margin-top: 36px
  +media(xs-max)
    margin-top: 15px

.page-container
  @extend .container

.page-row
  +make-row()
  margin-bottom: 24px

.page-title
  margin-bottom: 25px
  h1
    display: inline-block
    vertical-align: middle
    font-size: 30px
    font-weight: 400
    color: $theme-color-green
  a
    margin-left: 16px
    color: #999999
    +media(xs-max)
      display: block
      margin: 0
    &.page-title-location
      color: #666666
      border-bottom: 1px solid

.page-content
  @extend .col-md-12
  @extend .col-lg-9

.page-sidebar
  @extend .col-md-12
  @extend .col-lg-3
  position: static
  h2
    margin-bottom: 20px
    padding: 0 10px
    font-size: 18px
    font-weight: 600
    line-height: 1.2
    text-align: center
    color: #000000

.page-sidebar-content
  padding-top: 24px
  padding-bottom: 24px
  background: #ffffff

.page-text
  padding: 28px 32px
  background: #ffffff
  box-shadow: 0 3px 4px 0 rgba(102, 102, 102, 0.25)
  +media(xs-max)
    margin: 0 -15px 36px
    padding: 25px 15px
  h2
    margin-top: 25px
    margin-bottom: 17px
  h3
    margin-bottom: 10px
  a
    color: $theme-color-green
    border-bottom: 1px solid rgba($theme-color-green, .25)
    &:hover
      color: #53bb57
    &:visited
      color: #005b00


  ul
    margin: 1rem 0
    padding: 0
    list-style: none
    li
      position: relative
      margin-bottom: 8px
      padding-left: 12px
      &:before
        position: absolute
        top: 10px
        left: 0
        content: ""
        width: 4px
        height: 4px
        background: #53bb57
        border-radius: 50%