.pagination
  +clearfix
  margin-top: 35px
  padding: 0
  list-style: none

.pagination-item
  float: left
  margin-right: -1px
  &:first-child, &:last-child
    .pagination-link
      padding: 0 20px
  &:first-child
    .pagination-link
      border-top-left-radius: 2px
      border-bottom-left-radius: 2px
  &:last-child
    .pagination-link
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px
  &.active
    .pagination-link
      background: #ffffff

.pagination-link
  display: block
  min-width: 36px
  height: 36px
  font-size: 16px
  color: #666666
  text-align: center
  line-height: 34px
  border: 1px solid #d9d9d9
