.products
  &.products-block
    @extend .row

    .product
      @extend .col-md-6
      @extend .col-lg-3
      +media(sm-max)
        margin-bottom: 20px

    .product-wrap
      height: 100%
      background: #ffffff
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25)

    .product-title
      padding: 16px 16px 18px
      font-size: 18px
      line-height: 1.33
      a
        color: $body-color

    .product-content
      background: #ffffff

    .product-footer
      position: relative
      padding: 8px 50px 13px 16px
      border-top: 1px solid #d9d9d9

    .product-price
      font-size: 24px
      font-weight: 600

    .product-favorite
      top: 50%
      margin-top: -14px
      right: 14px
      position: absolute
      font-family: $font-awesome
      font-size: 23px
      line-height: 1
      @extend .icon-star
      &:before
        color: #999999
        +transition($link-transition)