.product-filter
  display: flex
  justify-content: space-between
  align-items: center
  text-align: center
  //+media(md-max)
    display: block
  +media(xs-max)
    display: block

.product-filter-list
  margin: 0
  padding: 0
  display: inline-block
  list-style: none
  border: 1px solid #d9d9d9
  border-radius: 2px
  +clearfix
  +media(xs-max)
    margin-bottom: 10px

.product-filter-item
  float: left
  border-left: 1px solid #d9d9d9
  +media(xs-max)
    width: 100%
    text-align: center
    border-left: none
  &:first-child
    border-left: none
  &.active
    .product-filter-link
      background: #ffffff

.product-filter-link
  display: block
  padding: 5px 30px
  color: #666666

.product-filter-print
  +media(md-max)
    padding-left: 30px
    margin-top: 10px
  a
    position: relative
    color: #666666
    border-bottom: 1px solid
    &:before
      position: absolute
      top: -3px
      left: -30px
      font-family: $font-awesome
      font-size: 19px
      @extend .icon-print


.product-filter-sort
  +media(xs-max)
    text-align: center
  .btn
    padding-left: 13px
    padding-top: 9px
    padding-bottom: 6px
    background: transparent
    border: 1px solid #d9d9d9
    border-radius: 2px
    font-size: 16px
    line-height: 1
    color: #666666
  .dropdown-toggle
    &:after
      position: absolute
      top: 50%
      right: 27px
      margin-top: -10px
      font-family: $font-awesome
      border: none
      font-size: 20px
      @extend .icon-arrow-bottom-otl:before