.products
  .product-img
    img
      width: 100%
      height: auto

.product
  &.favorite
    .product-favorite
      &:before
        color: #d71919



.tag
  position: absolute
  padding: 2px 15px
  top: 0
  left: 0
  min-width: 26px
  min-height: 24px
  font-size: 14px
  color: #ffffff
  text-transform: uppercase

  &.tag-red
    background: #d71919
  &.tag-green
    background: #53bb57
  &.tag-orange
    background: #ff6e00