.products
  &.products-list
    .product
      position: relative
      margin-bottom: 16px
      background: #ffffff
      box-shadow: 0 2px 4px 0 rgba(102, 102, 102, 0.25)
      +clearfix
      &:hover
        .product-title
          color: $theme-color-green
      &.active
        .product-options-favorite
          color: $theme-color-red

    .product-img
      position: relative
      float: left
      width: 263px
      background: #f2f2f2
      +media(xs-max)
        float: none
        width: 100%
        img
          width: 100%

    .product-content
      position: relative
      width: 100%
      padding-left: 293px
      padding-right: 180px
      padding-top: 18px
      +media(xs-max)
        padding-left: 15px
        padding-right: 15px
        padding-bottom: 10px

    .product-title
      font-size: 20px
      font-weight: 600
      color: $body-color
      letter-spacing: .1px

    .product-text
      p
        margin: 5px 0

    .product-info
      position: absolute
      width: 160px
      top: 15px
      right: 19px
      text-align: right
      +media(xs-max)
        position: relative
        top: auto
        right: auto
        text-align: left
        width: 100%
        font-size: 0
      p
        margin: 3px 0

    .product-price
      font-size: 24px
      font-weight: 600

    .product-options
      position: absolute
      bottom: 20px
      right: 20px
      text-align: right
      line-height: 1
      a
        margin-left: 12px
        display: inline-block
        color: #d9d9d9
        &:first-child
          margin-left: 0

    .product-options-list
      &:before
        font-family: $font-awesome
        @extend .icon-list
        font-size: 28px

    .product-options-favorite
      &:before
        font-family: $font-awesome
        @extend .icon-star
        font-size: 28px